.wrapper{
  display:flex;
  height: 100vh;
}
.wrapper .left,
.wrapper .right{
  width: 20%;
  background-color: yellow;
}

.wrapper .middle{
  width: 60%;
  flex-direction: column;
}
.wrapper .middle .screen{
  background-color: brown;
}
.wrapper .middle .controls{
  background-color: blue;
}
.wrapper .left .ghost,
.wrapper .right .ghost{
  img {
    max-width: 40px;
    max-height: 40px;
    position: relative;
    left: 50%;
    top: 150px;
  }
}

.wrapper .left .logo{
  img {
    max-width: 300px;
    max-height: 50px;
    position: relative;
    left: 20%;
    top: 1px;
  }
}

.wrapper .left .pac,
.wrapper .right .pac{
  img {
    max-width: 40px;
    max-height: 40px;
    position: relative;
    left: 20%;
    top: 300px;
  }
}